body {
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    width: 70%;
    margin: 2em auto auto auto;
    border-radius: 2em;
}

.inputEl {
    margin: 2em;
    padding: 1em;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 50em;
}

.inputEl:focus {
    border: 1px solid rgb(83, 186, 250);
    outline: none;
    box-shadow: 0px 0px 10px 0px #bfdeff;
    color: gray;
}

.formLabel {
    font-weight: bolder;
}

.formElements {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submitBtn {
    padding: 1em;
    color: black;
    outline: none;
    border: 1px solid black;
    background: linear-gradient(121deg, lightblue, rgb(177, 102, 227));
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.submitBtn:hover {
    cursor: pointer;
}

.renderDiv img,
.renderTheList img {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.renderDiv,
.renderTheList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.renderDiv {
    margin-bottom: 2em;
}

.saveBtn,
.deleteBtn {
    width: 70%;
    height: 3em;
    border-width: 0;
}

.saveBtn:hover,
.deleteBtn:hover {
    cursor: pointer;
}

.saveBtn {
    color: white;
    background: rgb(65, 227, 40);
}

.deleteBtn {
    color: white;
    background: red;
}

.listBtn {
    background: linear-gradient(121deg, rgb(185, 230, 173), rgb(227, 208, 102));
    padding: 1em;
}

.listBtn:hover {
    cursor: pointer;
}

.listDivBtn {
    display: flex;
    justify-content: flex-end;
}