html {
    height: 100%;
}

body {
    background: linear-gradient(121deg, lightblue, rgb(177, 102, 227));
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 18%;
    margin: 10em auto auto auto;
    padding: 1em;
    border-radius: 5px;
    background: white;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

.inputEl {
    margin-top: 0.5em;
    padding: 1em;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

.inputEl:focus {
    border: 1px solid rgb(83, 186, 250);
    outline: none;
    box-shadow: 0px 0px 10px 0px #bfdeff;
    color: gray;
}

.formElements {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.formLabel {
    font-weight: bold;
}

.loginBtn {
    margin: auto;
    width: 100%;
    height: 3em;
    background: linear-gradient(121deg, lightblue, rgb(177, 102, 227));
    border: none;
}