* {box-sizing: border-box;}

body {font-family: 'Poppins', sans-serif;}

html {scroll-padding-top: 4.4em;} /* height of sticky header ref:https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */


/* HEADER SECTION */

.indent-left {padding-left: 10%;}

header {
    background: #fafafa;
    border-bottom: 1px solid  #e0e0e0;
    width: 100%;
    /* set padding top and botton zero value to make header-paragrah and h1 get closer to each other instead of using negative line-height || margin  || padding */
    padding: 1.25em 1.5em 1.25em 0; 
}

.header-paragrah {margin: 0px;}

h1 {
    color: #121212;
    text-transform:uppercase;
    margin-bottom: 0;
    white-space: pre-line;
}

p {color:#858585;}

.animation-wordchanges::after {
    content: ""; /* leave it empty to add the content in keyframe animation */
    animation: wordchange 10s linear infinite;    
}

@keyframes wordchange {
       0% {opacity: 0;
    }
       10% {
        content: "an industry";
        opacity: 1;
       }

       20% {
        opacity: 0;
       }

       30% {
        content: "a career";
        opacity: 1;
       }

       40% {
        opacity: 0;
       }

       50% {
        content: "a freelancer";
        opacity: 1;
       }

       60% {
        opacity: 0;
       }

       70% {
        content: "a business";
        opacity: 1;
       }

       80% {
        opacity: 0;
       }

       90% {
        content: "a job";
        opacity: 1;
       }

    }

/* NAVBAR SECTION */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafa;

    /* 
    height with % doesn't work if you didn't give height values for its parant. **height with % will alway ask for the values of the parent 
    ref: https://stackoverflow.com/questions/31728022/why-is-percentage-height-not-working-on-my-div/31728799#31728799 
    */
    height: 4em;

    /* 
    I choose sticky instead fixed because when I tried to apply navbar with fixed, 
    it start fixed position on its own position and it make a lot of space on the top element 
    */
    position: sticky; 

    /* 
    You must specify a threshold with at least one of top, right, bottom, 
    or left for sticky positioning to behave as expected. Otherwise, it will be indistinguishable from relative positioning.
    ref: https://stackoverflow.com/questions/43707076/how-does-the-position-sticky-property-work 
    */
    top: 0;    
}

nav a {
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 1.8em;
}

nav a:hover {color:#858585;}

/* IMAGE SECTION */
img {
    width: 100%;
    height: 36em; 
    object-fit: cover; 
    object-position: 30% 70%;
}

/* CONTENTS SECTIONS */

h2, h3 {color: black; }

h2 {margin-bottom: 0;}

.contents {
    width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* this helps to not set margin or padding on the right and left side */
    gap: 5.5em;
    margin-bottom: 7em;
}

    /* 
    I am trying using order property to lay the items in ordinal groups.
    for items that is not specify the value will alway set values to zero and you can also use negative values in order.
    */

.about-us, .pratical {
    order: 1;
    margin-top: 1.25em;
}

.gallery, .logotypes {order: 2;}

.about-us, .gallery {width: 30%;}

.pratical, .logotypes {width: 45%;}

.paragrah-aboutus, .paragrah-pratical, .paragrah-gallery {
    white-space: pre-line;
    color:#818181;
}

.paragrah-aboutus, .paragrah-gallery {
    font-size: 1.1em;
    white-space: pre-line;
}

.paragrah-pratical {font-size: 19px;}

 /* GALLERY SECTION */

 .img-gallery ul {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    list-style: none;
    width: 100%;
    gap: 1em;
    justify-content: center;
 }

 .img-gallery ul li {
    width: 45%;
 }

 .black-white-img {
    width: 100%;
    height: auto;
 }

/* LOGOTYPES SECTION */
 
.logo {
    margin-top: 1.2em;
    padding-inline-start: 0;
}

.logotypes ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3.75em;
}

.logo li img {
    max-width: 7.8em;
    max-height: 7.8em;
}

.icons{
    filter: grayscale(100%) brightness(75%);
}

.icons:hover{
    filter: grayscale(0%) brightness(115%);
    cursor: pointer;
}


/* FOOTER SECTION */

footer {
    background: #6736cd;
    padding: 1.8em 0  3.8em 0;
    width: 100%;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.footer-paragrah {
    color: white;
    white-space: pre-line;
    margin: -20px;
    padding: 0;
}





.footer-info {
    margin: 1em;
    width: 20%;
}

.footer-info ul, .footer-link-contents {padding: 0;}

.footer-info ul li, .footer-link-contents a {
    color: white;
    list-style: none;
    padding: 10px 0 10px 0;
    text-decoration: none;
}

.footer-paragrah {margin: 0;}

.footer-link-contents {
    display: flex;
    flex-direction: column;
}

.text-underline {border-bottom: 1px solid #818181;}

h4 {
    color: white;
    letter-spacing: 2px;
    margin: 0;
}

.history {
    margin-left: 20px;
}
.wrapper-iframe {
    margin-top: 30px;
}

.map {
    width: 80%;
    height: 50%;
}


/* RESPONSIVE SECTION */

@media screen and (max-width: 1233px) {

    .logo li img {
        max-width: 4.5em;
        max-height: 4.5em;
    }

    .logotypes ul {
        gap: 2em;
    }   
}

/* TABLET SCREEN */

@media screen and (max-width: 768px) {

    .indent-left {padding-left: 3.1em;}

    img {

        /* this setting make image responsive */
        max-width: 100%; 
        height: auto;
    }

    .contents {
        flex-direction: column;
        padding: 0 3.1em 0 3.1em;
        gap: 1em;
    }

    .about-us, .gallery, .pratical, .logotypes {width: 100%;}

    /* since I am using order property at the beginning so when I make resonsive webpage it makes me easier to moving contents*/

    .pratical {order: 1;}

    .about-us {order: 2;}

    .paragrah-aboutus, .paragrah-gallery {white-space: normal;}

    .paragrah-pratical, .paragrah-aboutus, .paragrah-gallery {font-size: 15px}

    .logo {justify-content: center;}
 
    .footer {flex-wrap: wrap;}

    .footer-paragrah, .footer-info ul li, .footer-link-contents {font-size: 12px;}

    .footer-info {width: 35%;} /* make elements with flex display have only 2 rows becasue parant of footer-info is width 100% */

    h4 {font-size: 10px;}
   
}

/* MOBILE SECTION */

@media screen and (max-width: 414px) {

    html {
        scroll-padding-top: 12.5em; 
    }

    header {text-align: center;}

    nav {
        flex-direction: column;
        width: 100%; /* make nav and nav a with width 100% so when you fill in background color in hover, it cover all the way from start to the end. */
        height: auto; /* the height cover the contents */
        padding: 10px 0 10px 0;
        background-color: #fafafa;
    }

    nav a {
        white-space: normal;
        width: 100%; /* make nav and nav a with width 100% so when you fill in background color in hover, it cover all the way from start to the end. */
        padding: 0 ;
        margin: 0;
        text-align: center;
        padding: 10px 0 10px 0;
    }

    nav a:hover {background-color: rgb(207, 235, 245);}

    .navbar {padding-left: 0;}

    .contents {padding: 0 30px 0 30px;}

    h2 {font-size: 18px;}
    
    .logotypes ul {gap: 1em;}
    
    .footer-info {width: 100%;} /* make elements with flex display have only 1 row*/

    .footer {text-align: center;}
    
}

